// Variables
/* Are placeholders for storing information that you want to reuse throughout your styles. You can store things like colours, font-stacks, or any css value you think you might want to reuse 
SCSS uses the '$' symbol to declar variables. */

// Colors

$icon-sn-controller: none;
$icon-sn-controller: #3498db;
$icon-ok: #2980b9;

$icon-plus: #2980b9;

$icon-minus: #2980b9;

$icon-comment: #2980b9;

$icon-trash: #2980b9;

$background: #009dff;

$bg-color: none;

$text-color: #fff;

//Font Stacks
$helvetica: Helvetica, Arial, sans-serif;