// Mixins

@mixin button($bg-color, $hover-color, $text-color){
  background-color: $bg-color;
  color: $text-color;
  font-size: 1.6em;
  padding: 25px 80px;
  border-radius: 3px;
  margin-left: 10%;
  margin-top: 2em;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 400;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;

  &:hover{
    background-color: $hover-color;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    transition: all 0.3s;
  }
}